{% extends "base.html" %}
    <!-- corpo -->
{% block content %}
<p class="m2">
    <h2>Entre em Contato</h2>
    Lorem <b>ipsum dolor </b> sit amet consectetur adipisicing elit. Sunt a ratione accusantium quaerat.,
</p>
<hr>

<!-- tabela -->
<table border="0" width="900" align="center"></table>

    <form method="post" action="/contato">

        Seu e-mail: <br>
        <input type="email" name="email" required><br>

        Assunto: <br>
        <input type="text" name="assunto" required><br>

        Descrição : <br>
        <input type="text" name="descricao" required><br>

        <input type="submit">
    </form>

{% endblock %}
    <!-- rodapé -->
{% block footer %}
{% endblock %}