{% extends "base.html" %}
    <!-- corpo -->
{% block content %}
<p class="m2">
    <h2>Entre em Contato</h2>
    Lorem <b>ipsum dolor </b> sit amet consectetur adipisicing elit. Sunt a ratione accusantium quaerat.,
</p>
<hr>

<!-- tabela -->

<form>
    Seu e-mail:<br>
    <input type="text" name="Seu e-mail"><br>
    Assunto:<br>
    <input type="text" name="Assunto"><br>
    Descrição:<br>
    <input type="text" name="Descrição" style="width: 150px;height: 30px;"><br>

    <input type="submit" name="Enviar"><br>

{% endblock %}
    <!-- rodapé -->
{% block footer %}
{% endblock %}