{% extends "base.html" %}
    <!-- corpo -->
{% block content %}
<p class="m2">
    <img src="../static/img/capa.png">
</p>
<h2>Sobre a Universidade</h2>
<p>Lorem <b>ipsum dolor</b> sit amet, consectetur adipisicing elit. Obcaecati earum at non voluptas voluptate 
dolorem velit nulla, adipisci soluta quis libero qui voluptatum vero vel, tempora aliquid provident 
officia cum? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex error dolorem vitae inventore
libero in laudantium! Magnam, dolores aperiam dolor totam neque, molestias sit nam ex rem earum, 
inventore atque?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati earum at non voluptas 
voluptate dolorem velit nulla, adipisci soluta quis libero qui voluptatum vero vel, tempora aliquid provident 
officia cum? Lorem ipsum dolor sit amet, consectetur adipisicing elit..</p>

<p>Lorem <b>psum dolor</b> sit amet, consectetur adipisicing elit. Obcaecati earum at non voluptas voluptate 
    dolorem velit nulla, adipisci soluta quis libero qui voluptatum vero vel, tempora aliquid provident 
    officia cum? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex error dolorem vitae inventore
    libero in laudantium! Magnam, dolores aperiam dolor totam neque, molestias sit nam ex rem earum, 
    inventore atque?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati earum at non voluptas 
    voluptate dolorem velit nulla, adipisci soluta quis libero qui voluptatum vero vel, tempora aliquid provident 
    officia cum? Lorem ipsum dolor sit amet, consectetur adipisicing elit. tempora aliquid provident 
    officia cum? Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

{% endblock %}
    <!-- rodapé -->
{% block footer %}
{% endblock %}
</p>