{% extends "base.html" %}
    <!-- corpo -->
{% block content %}
<p class="m2">
<h2>Quem Somos</h2> 
</p>
<p>Lorem <b>ipsum dolor</b> sit amet, consectetur adipisicing elit. Obcaecati earum at non voluptas voluptate 
    dolorem velit nulla, adipisci soluta quis libero qui voluptatum vero vel, tempora aliquid provident 
    officia cum? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex error dolorem vitae inventore
    libero in laudantium! Magnam, dolores aperiam dolor totam neque, molestias sit nam ex rem earum, 
    inventore atque?Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

<h2>5 Motivos para estudar</h2> 
<ol>
    <li>Material sempre atualizado</li>
    <li>Tablets em sala de aula</li>
    <li>Professores renomados</li>
    <li>Universidade bem avaliada</li>
    <li>Ótima localização</li>
</ol>
<hr>
<h2>Objetivos</h2> 
<p>Lorem <b>ipsum dolor</b> sit amet, consectetur adipisicing elit. Obcaecati earum at non voluptas voluptate 
    dolorem velit nulla, adipisci soluta quis libero qui voluptatum vero vel, tempora aliquid provident 
    officia cum? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex error dolorem vitae inventore
    libero in laudantium! Magnam, dolores aperiam dolor totam neque, molestias sit nam ex rem earum, 
    inventore atque?Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p><br>

{% endblock %}
    <!-- rodapé -->
{% block footer %}
{% endblock %}